body, div {
	margin: 0;
	padding: 0;
}
#container {
	background-color: #d3dede;
	margin-left: auto;
	margin-right: auto;
	width: 550px;
	text-align: center;
}
#container > h3 {
	padding-top: 10px;
}

#container > #output {
	padding-bottom: 10px;
}